NODE_ENV=development
PORT=3000
DATABASE_URL=postgresql://postgres:password@polls-maker-db:5432/polls_maker?sslmode=disable
KAFKA_BROKERS=kafka-server:9092
CACHE_URL=redis://:password@polls-maker-cache:6379/0