VOTE_SERVICE_ADDR=:8080
VOTE_SERVICE_DB_URL=postgresql://postgres:password@polls-maker-db:5432/polls_maker?sslmode=disable
VOTE_SERVICE_CACHE_URL=redis://polls-maker-redis:6379/0
VOTE_SERVICE_GRPC_ADDR=poll-service:50051